#top {
  width: 800px;
  margin: 20px auto;
  text-align: center;
  background-color: #dcc9f4;
}
.top-child {
  width:20%;
  background-color:  #ffd9df;
  display: inline-block     
}
#middle {
  width: 800px;
  height: 800px;
  margin: 20px auto;
  background-color: #87ceeb;
}
.middle div {
  width: 800px;
  height: 800px;
  margin: 20px auto; 
  background-color: #87ceeb;
}
#middle-child01 {
  position: absolute;
  top: 100px;
  left: 100px; 
  background-color: aquamarine;
}
#middle-child02 {
  position: absolute;
  top: 300px;
  left: 300px;
  background-color: aquamarine;
}
#middle-child03 {
  position: absolute;
  top: 500px;
  left: 500px;
  background-color: aquamarine;
}
#bottom {
  width: 800px;
  height:300px;
  margin: auto;
  background-color: #87ceeb;
}
#bottom div {
  width: 400;
  height: 100;
  background-color: olive;
}
#bottom-child02 {
  position: relative;
  left: 200px;
}
#bottom-child03 {
  position: relative;
  left: 400px;
}